.login{
    width: 100vw;
    height: 100vh;
    /* background-color: #f0f2f5; */
    color: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.loginInput{
    margin: 15px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;

}
.loginBox{
    /* height: 400px; */
    padding: 10px;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginRegisterButton{
    margin-top: 25px;
    width: 30%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  
  }
  .loginButtton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}
/* #1775ee; */
/* #1775ee; */
/* #42b72a; */